<div id = 'content_pages'>

<h1>dateGame</h1>

Zwei Random Dinger: <br/>
<p>
	<%= link_to @like1.group, game_create_path(:chosen => @like1.group, :unchosen => @like2.group) %> << >>
	<%= link_to @like2.group, game_create_path(:chosen => @like2.group, :unchosen => @like1.group) %>
</p>

<%= @likes.each do |item| %>
<%= puts item.group %>
<%= print "\n" %>
<%= puts item.count %>
<%= print "\n" %>
<% end %>

</div>




