<div id = 'content_pages'>

<h1>dateGame</h1>

Was ist besser?  <br/>
<p>
<div class = "game_links">
	<%= link_to @like1.group, game_create_path(:chosen => @like1.group, :unchosen => @like2.group) %> << >>
	<%= link_to @like2.group, game_create_path(:chosen => @like2.group, :unchosen => @like1.group) %> <br/>
	<%= link_to "Skip", '/game/create' %>
</div>
</p>

<table>
<% @likes.each do |like| %>
<tr>
<td><%= like.group %></td>
<td><%= like.count %></td>
</tr>
<% end %>

</table>
</div>




